<% layout('/layouts/default.html', {title: 'twms_transferlogg管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(twmsTransferlogg.isNewRecord ? '新增twms_transferlogg' : '编辑twms_transferlogg')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${twmsTransferlogg}" action="${ctx}/twms/twmsTransferlogg/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="loggnum"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('jobnum')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="jobnum" maxlength="20" class="form-control required digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('objecttype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="objecttype" maxlength="36" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('lotnum')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lotnum" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('conveytype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="conveytype" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('priority')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="priority" maxlength="3" class="form-control required digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('vpltnum')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="vpltnum" maxlength="36" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pltnum')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pltnum" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pltautotype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pltautotype" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('plttype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="plttype" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ssysnode')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ssysnode" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('sloc')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sloc" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('slocdcs')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="slocdcs" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dsysnode')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dsysnode" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dloc')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dloc" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dlocdcs')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dlocdcs" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('bgndate')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="bgndate" maxlength="36" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('enddate')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="enddate" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('routeid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="routeid" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('subfromsysnode')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="subfromsysnode" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('subfrom')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="subfrom" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('subtosysnode')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="subtosysnode" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('subto')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="subto" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('controlid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="controlid" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('plterrcode')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="plterrcode" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('prerequest')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="prerequest" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('hisroute')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="hisroute" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('remark')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="remark" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('mvstock1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mvstock1" maxlength="60" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('mvstock2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mvstock2" maxlength="60" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('onlydloc')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="onlydloc" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dcsexestep')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dcsexestep" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('dcsgroup')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dcsgroup" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('curreqp')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="curreqp" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('jobid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="jobid" maxlength="10" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('twms:twmsTransferlogg:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>