<% layout('/layouts/default.html', {title: 'wms_gdxd_out管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('wms_gdxd_out管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('twms:wmsGdxdOut:edit')){ %>
					<a href="${ctx}/twms/wmsGdxdOut/form" class="btn btn-default btnTool" title="${text('新增wms_gdxd_out')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${wmsGdxdOut}" action="${ctx}/twms/wmsGdxdOut/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('id')}：</label>
					<div class="control-inline">
						<#form:input path="id" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单号')}：</label>
					<div class="control-inline">
						<#form:input path="woNo" maxlength="60" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('批次号')}：</label>
					<div class="control-inline">
						<#form:input path="batchNo" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工艺段编号')}：</label>
					<div class="control-inline">
						<#form:input path="techSectionCd" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('喂丝机号')}：</label>
					<div class="control-inline">
						<#form:input path="equId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('出库站台')}：</label>
					<div class="control-inline">
						<#form:input path="outstation" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单状态')}：</label>
					<div class="control-inline">
						<#form:input path="woState" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('牌号编码')}：</label>
					<div class="control-inline">
						<#form:input path="matCd" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('牌号名称')}：</label>
					<div class="control-inline">
						<#form:input path="matNm" maxlength="60" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('p_mat_cd')}：</label>
					<div class="control-inline">
						<#form:input path="pmatCd" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('p_mat_nm')}：</label>
					<div class="control-inline">
						<#form:input path="pmatNm" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('计划量')}：</label>
					<div class="control-inline">
						<#form:input path="planAmount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单下达时间')}：</label>
					<div class="control-inline">
						<#form:input path="woSendTime" maxlength="7" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="woEndTime" maxlength="7" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="woStartTime" maxlength="7" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('boxtotalnum')}：</label>
					<div class="control-inline">
						<#form:input path="boxtotalnum" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('mat_class')}：</label>
					<div class="control-inline">
						<#form:input path="matClass" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单取消时间')}：</label>
					<div class="control-inline">
						<#form:input path="woCancelTime" maxlength="7" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班次')}：</label>
					<div class="control-inline">
						<#form:input path="shiftCd" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班组')}：</label>
					<div class="control-inline">
						<#form:input path="teamCd" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('lotnum_in')}：</label>
					<div class="control-inline">
						<#form:input path="lotnumIn" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('id')}', name:'id', index:'a.id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/twms/wmsGdxdOut/form?id='+row.id+'" class="btnList" data-title="${text('编辑wms_gdxd_out')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('工单号')}', name:'woNo', index:'a.wo_no', width:150, align:"left"},
		{header:'${text('批次号')}', name:'batchNo', index:'a.batch_no', width:150, align:"left"},
		{header:'${text('工艺段编号')}', name:'techSectionCd', index:'a.tech_section_cd', width:150, align:"left"},
		{header:'${text('喂丝机号')}', name:'equId', index:'a.equ_id', width:150, align:"left"},
		{header:'${text('出库站台')}', name:'outstation', index:'a.outstation', width:150, align:"left"},
		{header:'${text('工单状态')}', name:'woState', index:'a.wo_state', width:150, align:"left"},
		{header:'${text('牌号编码')}', name:'matCd', index:'a.mat_cd', width:150, align:"left"},
		{header:'${text('牌号名称')}', name:'matNm', index:'a.mat_nm', width:150, align:"left"},
		{header:'${text('p_mat_cd')}', name:'pmatCd', index:'a.p_mat_cd', width:150, align:"left"},
		{header:'${text('p_mat_nm')}', name:'pmatNm', index:'a.p_mat_nm', width:150, align:"left"},
		{header:'${text('计划量')}', name:'planAmount', index:'a.plan_amount', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('工单下达时间')}', name:'woSendTime', index:'a.wo_send_time', width:150, align:"center"},
		{header:'${text('工单结束时间')}', name:'woEndTime', index:'a.wo_end_time', width:150, align:"center"},
		{header:'${text('工单开始时间')}', name:'woStartTime', index:'a.wo_start_time', width:150, align:"center"},
		{header:'${text('boxtotalnum')}', name:'boxtotalnum', index:'a.boxtotalnum', width:150, align:"center"},
		{header:'${text('mat_class')}', name:'matClass', index:'a.mat_class', width:150, align:"left"},
		{header:'${text('工单取消时间')}', name:'woCancelTime', index:'a.wo_cancel_time', width:150, align:"center"},
		{header:'${text('班次')}', name:'shiftCd', index:'a.shift_cd', width:150, align:"left"},
		{header:'${text('班组')}', name:'teamCd', index:'a.team_cd', width:150, align:"left"},
		{header:'${text('lotnum_in')}', name:'lotnumIn', index:'a.lotnum_in', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('twms:wmsGdxdOut:edit')){ %>
				actions.push('<a href="${ctx}/twms/wmsGdxdOut/form?id='+row.id+'" class="btnList" title="${text('编辑wms_gdxd_out')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/twms/wmsGdxdOut/delete?id='+row.id+'" class="btnList" title="${text('删除wms_gdxd_out')}" data-confirm="${text('确认要删除该wms_gdxd_out吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>