<% layout('/layouts/default.html', {title: 'wms_gdxd_in管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('wms_gdxd_in管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('twms:wmsGdxdIn:edit')){ %>
					<a href="${ctx}/twms/wmsGdxdIn/form" class="btn btn-default btnTool" title="${text('新增wms_gdxd_in')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${wmsGdxdIn}" action="${ctx}/twms/wmsGdxdIn/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('id')}：</label>
					<div class="control-inline">
						<#form:input path="id" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单号')}：</label>
					<div class="control-inline">
						<#form:input path="woNo" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('生产批次号')}：</label>
					<div class="control-inline">
						<#form:input path="batchNo" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工艺段编号')}：</label>
					<div class="control-inline">
						<#form:input path="techSectionCd" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('入库线')}：</label>
					<div class="control-inline">
						<#form:input path="inLine" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单状态')}：</label>
					<div class="control-inline">
						<#form:input path="woState" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('牌号分类编码')}：</label>
					<div class="control-inline">
						<#form:input path="matClassCd" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('牌号分类名称')}：</label>
					<div class="control-inline">
						<#form:input path="matClassNm" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('牌号编码')}：</label>
					<div class="control-inline">
						<#form:input path="matCd" maxlength="25" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('牌号名称')}：</label>
					<div class="control-inline">
						<#form:input path="matNm" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('柜存量')}：</label>
					<div class="control-inline">
						<#form:input path="planAmount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单下达时间')}：</label>
					<div class="control-inline">
						<#form:input path="woSendTime" maxlength="7" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单状态')}：</label>
					<div class="control-inline">
						<#form:input path="state" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="woStartTime" maxlength="7" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="woEndTime" maxlength="7" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('抽检箱号')}：</label>
					<div class="control-inline">
						<#form:input path="checkboxnum" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('装箱总数')}：</label>
					<div class="control-inline">
						<#form:input path="boxtotalnum" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('入库站台')}：</label>
					<div class="control-inline">
						<#form:input path="station" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单类型')}：</label>
					<div class="control-inline">
						<#form:input path="type" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('批次总量')}：</label>
					<div class="control-inline">
						<#form:input path="batchweight" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('单箱装箱量')}：</label>
					<div class="control-inline">
						<#form:input path="boxloadweight" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班次')}：</label>
					<div class="control-inline">
						<#form:input path="shiftCd" maxlength="4" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班组')}：</label>
					<div class="control-inline">
						<#form:input path="teamCd" maxlength="4" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班别')}：</label>
					<div class="control-inline">
						<#form:input path="matClass" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单取消时间')}：</label>
					<div class="control-inline">
						<#form:input path="woCancelTime" maxlength="7" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('本系统统计的实际入库批次总量')}：</label>
					<div class="control-inline">
						<#form:input path="totalweightIn" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('id')}', name:'id', index:'a.id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/twms/wmsGdxdIn/form?id='+row.id+'" class="btnList" data-title="${text('编辑wms_gdxd_in')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('工单号')}', name:'woNo', index:'a.wo_no', width:150, align:"left"},
		{header:'${text('生产批次号')}', name:'batchNo', index:'a.batch_no', width:150, align:"left"},
		{header:'${text('工艺段编号')}', name:'techSectionCd', index:'a.tech_section_cd', width:150, align:"left"},
		{header:'${text('入库线')}', name:'inLine', index:'a.in_line', width:150, align:"left"},
		{header:'${text('工单状态')}', name:'woState', index:'a.wo_state', width:150, align:"left"},
		{header:'${text('牌号分类编码')}', name:'matClassCd', index:'a.mat_class_cd', width:150, align:"left"},
		{header:'${text('牌号分类名称')}', name:'matClassNm', index:'a.mat_class_nm', width:150, align:"left"},
		{header:'${text('牌号编码')}', name:'matCd', index:'a.mat_cd', width:150, align:"left"},
		{header:'${text('牌号名称')}', name:'matNm', index:'a.mat_nm', width:150, align:"left"},
		{header:'${text('柜存量')}', name:'planAmount', index:'a.plan_amount', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('工单下达时间')}', name:'woSendTime', index:'a.wo_send_time', width:150, align:"center"},
		{header:'${text('工单状态')}', name:'state', index:'a.state', width:150, align:"left"},
		{header:'${text('工单开始时间')}', name:'woStartTime', index:'a.wo_start_time', width:150, align:"center"},
		{header:'${text('工单结束时间')}', name:'woEndTime', index:'a.wo_end_time', width:150, align:"center"},
		{header:'${text('抽检箱号')}', name:'checkboxnum', index:'a.checkboxnum', width:150, align:"center"},
		{header:'${text('装箱总数')}', name:'boxtotalnum', index:'a.boxtotalnum', width:150, align:"center"},
		{header:'${text('入库站台')}', name:'station', index:'a.station', width:150, align:"left"},
		{header:'${text('工单类型')}', name:'type', index:'a.type', width:150, align:"left"},
		{header:'${text('批次总量')}', name:'batchweight', index:'a.batchweight', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('单箱装箱量')}', name:'boxloadweight', index:'a.boxloadweight', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('班次')}', name:'shiftCd', index:'a.shift_cd', width:150, align:"left"},
		{header:'${text('班组')}', name:'teamCd', index:'a.team_cd', width:150, align:"left"},
		{header:'${text('班别')}', name:'matClass', index:'a.mat_class', width:150, align:"left"},
		{header:'${text('工单取消时间')}', name:'woCancelTime', index:'a.wo_cancel_time', width:150, align:"center"},
		{header:'${text('本系统统计的实际入库批次总量')}', name:'totalweightIn', index:'a.totalweight_in', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('twms:wmsGdxdIn:edit')){ %>
				actions.push('<a href="${ctx}/twms/wmsGdxdIn/form?id='+row.id+'" class="btnList" title="${text('编辑wms_gdxd_in')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/twms/wmsGdxdIn/delete?id='+row.id+'" class="btnList" title="${text('删除wms_gdxd_in')}" data-confirm="${text('确认要删除该wms_gdxd_in吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>