<% layout('/layouts/default.html', {title: '设备代码管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('设备代码管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnRefreshTree" title="${text('刷新')}"><i class="fa fa-refresh"></i> ${text('刷新')}</a>
				<a href="#" class="btn btn-default" id="btnExpandTreeNode" title="${text('展开一级')}"><i class="fa fa-angle-double-down"></i> ${text('展开')}</a>
				<a href="#" class="btn btn-default" id="btnCollapseTreeNode" title="${text('折叠全部')}"><i class="fa fa-angle-double-up"></i> ${text('折叠')}</a>
				<% if(hasPermi('is3dmcps:isDeviceCode:edit')){ %>
					<a href="${ctx}/is3dmcps/isDeviceCode/form" class="btn btn-default btnTool" title="${text('新增设备代码')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${isDeviceCode}" action="${ctx}/is3dmcps/isDeviceCode/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('设备代码')}：</label>
					<div class="control-inline">
						<#form:input path="code" maxlength="60" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="60" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备类别')}：</label>
					<div class="control-inline">
						<#form:input path="type" maxlength="2" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('设备名称')}', name:'name', index:'a.name', width:250, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/is3dmcps/isDeviceCode/form?id='+row.id+'" class="btnList" data-title="${text('编辑设备代码')}">'+(val||row.id)+'</a>'+'( '+row.code+' ) ';
		}},
		{header:'${text('设备类别')}', name:'type', index:'a.type', width:150, align:"left"},
		{header:'${text('类别')}', name:'type', index:'a.type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('is_device_type')}, val, '${text('未知')}', true);
		}},
		{header:'${text('型号规格')}', name:'model', index:'a.model', width:150, align:"left"},
		{header:'${text('设备用途')}', name:'application', index:'a.application', width:150, align:"left"},
		{header:'${text('制造厂商')}', name:'manufacturer', index:'a.manufacturer', width:150, align:"left"},
		{header:'${text('使用年限')}', name:'life', index:'a.life', width:150, align:"left"},
		{header:'${text('年折旧率')}', name:'depreciation', index:'a.depreciation', width:150, align:"left"},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('is3dmcps:isDeviceCode:edit')){ %>
				actions.push('<a href="${ctx}/is3dmcps/isDeviceCode/form?id='+row.id+'" class="btnList" title="${text('编辑设备代码')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/is3dmcps/isDeviceCode/disable?id='+row.id+'" class="btnList" title="${text('停用设备代码')}" data-confirm="${text('确认要停用该设备代码吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/is3dmcps/isDeviceCode/enable?id='+row.id+'" class="btnList" title="${text('启用设备代码')}" data-confirm="${text('确认要启用该设备代码吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/is3dmcps/isDeviceCode/delete?id='+row.id+'" class="btnList" title="${text('删除设备代码')}" data-confirm="${text('确认要删除该设备代码及所有子设备代码吗？')}" data-deltreenode="'+row.id+'"><i class="fa fa-trash-o"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/is3dmcps/isDeviceCode/form?parentCode='+row.id+'" class="btnList" title="${text('新增下级设备代码')}"><i class="fa fa-plus-square"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 0,	// 默认展开的层次
	expandNodeClearPostData: 'deviceCode,deviceName,deviceType,status,', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>