<% layout('/layouts/default.html', {title: 'is_location管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('is_location管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('is3dmcps:isLocation:edit')){ %>
					<a href="${ctx}/is3dmcps/isLocation/form" class="btn btn-default btnTool" title="${text('新增is_location')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${isLocation}" action="${ctx}/is3dmcps/isLocation/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('location_x')}：</label>
					<div class="control-inline">
						<#form:input path="locationX" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('location_y')}：</label>
					<div class="control-inline">
						<#form:input path="locationY" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('location_z')}：</label>
					<div class="control-inline">
						<#form:input path="locationZ" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('roww')}：</label>
					<div class="control-inline">
						<#form:input path="roww" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('col')}：</label>
					<div class="control-inline">
						<#form:input path="col" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('layerr')}：</label>
					<div class="control-inline">
						<#form:input path="layerr" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('location_x')}', name:'locationX', index:'a.location_x', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/is3dmcps/isLocation/form?locationId='+row.locationId+'" class="btnList" data-title="${text('编辑is_location')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('location_y')}', name:'locationY', index:'a.location_y', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('location_z')}', name:'locationZ', index:'a.location_z', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('roww')}', name:'roww', index:'a.roww', width:150, align:"center"},
		{header:'${text('col')}', name:'col', index:'a.col', width:150, align:"center"},
		{header:'${text('layerr')}', name:'layerr', index:'a.layerr', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('is3dmcps:isLocation:edit')){ %>
				actions.push('<a href="${ctx}/is3dmcps/isLocation/form?locationId='+row.locationId+'" class="btnList" title="${text('编辑is_location')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/is3dmcps/isLocation/delete?locationId='+row.locationId+'" class="btnList" title="${text('删除is_location')}" data-confirm="${text('确认要删除该is_location吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>