<% layout('/layouts/default.html', {title: '维修记录管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('维修记录管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('is3dmcps:isRepairRec:edit')){ %>
					<a href="${ctx}/is3dmcps/isRepairRec/form" class="btn btn-default btnTool" title="${text('新增维修记录')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${isRepairRec}" action="${ctx}/is3dmcps/isRepairRec/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('故障ID')}：</label>
					<div class="control-inline">
						<#form:input path="faultId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('维修结果')}：</label>
					<div class="control-inline">
						<#form:input path="results" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('维修人')}：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="operator" title="${text('用户选择')}"
							path="operator" labelPath="" 
							url="${ctx}/sys/office/treeData?isLoadUser=true" allowClear="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('维修时间')}：</label>
					<div class="control-inline">
						<#form:input path="repairTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('故障名称')}：</label>
					<div class="control-inline">
						<#form:input path="faultsName" maxlength="60" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('故障名称')}', name:'faultsName', index:'a.faults_name', width:150, align:"left"},
		{header:'${text('维修结果')}', name:'results', index:'a.results', width:150, align:"left", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('is_repair_results')}, val, '${text('未知')}', true);
		}},
		{header:'${text('维修人')}', name:'operator', index:'a.operator', width:150, align:"center"},
		{header:'${text('维修时间')}', name:'repairTime', index:'a.repair_time', width:150, align:"center"},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('is_repair_status')}, val, '${text('未知')}', true);
		}},		
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('is3dmcps:isRepairRec:edit')){ %>
				if(row.results=="1"){ 
					actions.push('<a href="${ctx}/is3dmcps/isRepairRec/form?id='+row.id+'" class="btnList" title="${text('编辑维修记录')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				}
			//				actions.push('<a href="${ctx}/is3dmcps/isRepairRec/delete?id='+row.id+'" class="btnList" title="${text('删除维修记录')}" data-confirm="${text('确认要删除该维修记录吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>