<% layout('/layouts/default.html', {title: '员工表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('员工表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('is3dmcps:selfDefEmployee:edit')){ %>
					<a href="${ctx}/is3dmcps/selfDefEmployee/form" class="btn btn-default btnTool" title="${text('新增员工表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${selfDefEmployee}" action="${ctx}/is3dmcps/selfDefEmployee/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('员工姓名')}：</label>
					<div class="control-inline">
						<#form:input path="empName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('英文名')}：</label>
					<div class="control-inline">
						<#form:input path="empNameEn" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('机构编码')}：</label>
					<div class="control-inline">
						<#form:input path="officeCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('机构名称')}：</label>
					<div class="control-inline">
						<#form:input path="officeName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('公司编码')}：</label>
					<div class="control-inline">
						<#form:input path="companyCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('公司名称')}：</label>
					<div class="control-inline">
						<#form:input path="companyName" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('员工姓名')}', name:'empName', index:'a.emp_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/is3dmcps/selfDefEmployee/form?empCode='+row.empCode+'" class="btnList" data-title="${text('编辑员工表')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('英文名')}', name:'empNameEn', index:'a.emp_name_en', width:150, align:"left"},
		{header:'${text('机构编码')}', name:'officeCode', index:'a.office_code', width:150, align:"left"},
		{header:'${text('机构名称')}', name:'officeName', index:'a.office_name', width:150, align:"left"},
		{header:'${text('公司编码')}', name:'companyCode', index:'a.company_code', width:150, align:"left"},
		{header:'${text('公司名称')}', name:'companyName', index:'a.company_name', width:150, align:"left"},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('备注信息')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('is3dmcps:selfDefEmployee:edit')){ %>
				actions.push('<a href="${ctx}/is3dmcps/selfDefEmployee/form?empCode='+row.empCode+'" class="btnList" title="${text('编辑员工表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/is3dmcps/selfDefEmployee/delete?empCode='+row.empCode+'" class="btnList" title="${text('删除员工表')}" data-confirm="${text('确认要删除该员工表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>