<% layout('/layouts/default.html', {title: 'twms_loc管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(twmsLoc.isNewRecord ? '新增twms_loc' : '编辑twms_loc')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${twmsLoc}" action="${ctx}/twms/twmsLoc/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="locnum"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="objecttype" maxlength="36" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('prntnum')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="prntnum" maxlength="36" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('sysnode')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sysnode" maxlength="36" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('locdcsnum')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="locdcsnum" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('logicloc')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="logicloc" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('relateloc')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="relateloc" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('onwaytemploc')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="onwaytemploc" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ifdummyloc')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ifdummyloc" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('货位位置描述')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="locdesc" maxlength="60" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('address')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="address" maxlength="60" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('tel')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="tel" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('principalby')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="principalby" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('reptype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="reptype" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('repbgndate')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="repbgndate" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('rependdate')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="rependdate" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('loccmbnum')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="loccmbnum" maxlength="36" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('iflogin')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="iflogin" maxlength="1" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('if1vplt')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="if1vplt" maxlength="1" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('ifinvstat')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ifinvstat" maxlength="1" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('ifavailableitem')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ifavailableitem" maxlength="1" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('ifloclimititem')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ifloclimititem" maxlength="1" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('货位状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="locstatus" maxlength="36" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('i_priority')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ipriority" maxlength="20" class="form-control required digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('o_priority')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="opriority" maxlength="20" class="form-control required digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('relatedistance')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="relatedistance" maxlength="20" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('mvinlimitlogg')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mvinlimitlogg" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('mvoutlimitlogg')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mvoutlimitlogg" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('mvinunit')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mvinunit" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('mvoutunit')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mvoutunit" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('binitemmaster')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="binitemmaster" maxlength="36" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('enterby')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="enterby" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('enterdate')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="enterdate" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('remark')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="remark" maxlength="300" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ifhavesonnode')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ifhavesonnode" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('mvstock1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mvstock1" maxlength="60" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('areanode')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="areanode" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ifitemaverage')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ifitemaverage" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('bylanenum')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="bylanenum" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('stntype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stntype" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('货位存放状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="locstorestatus" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('ifstoreplt')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ifstoreplt" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('doublestorefirsttype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="doublestorefirsttype" maxlength="36" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pltqty')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pltqty" maxlength="10" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('totalbuffqty')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="totalbuffqty" maxlength="10" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('doublestoreflag')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="doublestoreflag" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('货位【排】')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="line" maxlength="5" class="form-control required digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('货位【列】')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lie" maxlength="5" class="form-control required digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('货位【层】')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="layer" maxlength="5" class="form-control required digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('areatype')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="areatype" maxlength="5" class="form-control required digits"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('twms:twmsLoc:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>