<% layout('/layouts/default.html', {title: 'wms_prd_in_detl管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('wms_prd_in_detl管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('twms:wmsPrdInDetl:edit')){ %>
					<a href="${ctx}/twms/wmsPrdInDetl/form" class="btn btn-default btnTool" title="${text('新增wms_prd_in_detl')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${wmsPrdInDetl}" action="${ctx}/twms/wmsPrdInDetl/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('批次号')}：</label>
					<div class="control-inline">
						<#form:input path="batchNo" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班组')}：</label>
					<div class="control-inline">
						<#form:input path="teamCd" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班次')}：</label>
					<div class="control-inline">
						<#form:input path="shiftCd" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('入库货位')}：</label>
					<div class="control-inline">
						<#form:input path="locnum" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('牌号编码')}：</label>
					<div class="control-inline">
						<#form:input path="matCd" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('牌号名称')}：</label>
					<div class="control-inline">
						<#form:input path="matNm" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('烟箱装丝量')}：</label>
					<div class="control-inline">
						<#form:input path="weight" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('箱号')}：</label>
					<div class="control-inline">
						<#form:input path="boxid" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('装箱入库时间')}：</label>
					<div class="control-inline">
						<#form:input path="prodTime" maxlength="7" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('批次号')}', name:'batchNo', index:'a.batch_no', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/twms/wmsPrdInDetl/form?woNo='+row.woNo+'" class="btnList" data-title="${text('编辑wms_prd_in_detl')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('班组')}', name:'teamCd', index:'a.team_cd', width:150, align:"left"},
		{header:'${text('班次')}', name:'shiftCd', index:'a.shift_cd', width:150, align:"left"},
		{header:'${text('入库货位')}', name:'locnum', index:'a.locnum', width:150, align:"left"},
		{header:'${text('牌号编码')}', name:'matCd', index:'a.mat_cd', width:150, align:"left"},
		{header:'${text('牌号名称')}', name:'matNm', index:'a.mat_nm', width:150, align:"left"},
		{header:'${text('烟箱装丝量')}', name:'weight', index:'a.weight', width:150, align:"left"},
		{header:'${text('箱号')}', name:'boxid', index:'a.boxid', width:150, align:"left"},
		{header:'${text('装箱入库时间')}', name:'prodTime', index:'a.prod_time', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('twms:wmsPrdInDetl:edit')){ %>
				actions.push('<a href="${ctx}/twms/wmsPrdInDetl/form?woNo='+row.woNo+'" class="btnList" title="${text('编辑wms_prd_in_detl')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/twms/wmsPrdInDetl/delete?woNo='+row.woNo+'" class="btnList" title="${text('删除wms_prd_in_detl')}" data-confirm="${text('确认要删除该wms_prd_in_detl吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>