<% layout('/layouts/default.html', {title: '穿梭车运行统计管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('穿梭车运行统计管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('isopc:isCarCount:edit')){ %>
					<a href="${ctx}/isopc/isCarCount/form" class="btn btn-default btnTool" title="${text('新增穿梭车运行统计')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${isCarCount}" action="${ctx}/isopc/isCarCount/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('设备ID')}：</label>
					<div class="control-inline">
						<#form:input path="deviceId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备名称')}：</label>
					<div class="control-inline">
						<#form:input path="deviceName" maxlength="80" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('统计日期')}：</label>
					<div class="control-inline">
						<#form:input path="countDate" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('设备ID')}', name:'deviceId', index:'a.device_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/isopc/isCarCount/form?id='+row.id+'" class="btnList" data-title="${text('编辑穿梭车运行统计')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('设备名称')}', name:'deviceName', index:'a.device_name', width:150, align:"left"},
		{header:'${text('统计日期')}', name:'countDate', index:'a.count_date', width:150, align:"left"},
		{header:'${text('故障统计')}', name:'errCount', index:'a.err_count', width:150, align:"center"},
		{header:'${text('行走里程')}', name:'moveMileage', index:'a.move_mileage', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('升降次数')}', name:'updownCount', index:'a.updown_count', width:150, align:"center"},
		{header:'${text('转向次数')}', name:'turnCount', index:'a.turn_count', width:150, align:"center"},
		{header:'${text('充电次数')}', name:'rechangeCount', index:'a.rechange_count', width:150, align:"center"},
		{header:'${text('工作时长')}', name:'workTime', index:'a.work_time', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('isopc:isCarCount:edit')){ %>
				actions.push('<a href="${ctx}/isopc/isCarCount/form?id='+row.id+'" class="btnList" title="${text('编辑穿梭车运行统计')}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>