<% layout('/layouts/default.html', {title: '穿梭车状态管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('穿梭车状态管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('isopc:isCarStatus:edit')){ %>
					<a href="${ctx}/isopc/isCarStatus/form" class="btn btn-default btnTool" title="${text('新增穿梭车状态')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${isCarStatus}" action="${ctx}/isopc/isCarStatus/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('设备名称')}：</label>
					<div class="control-inline">
						<#form:input path="deviceName" maxlength="80" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('行')}：</label>
					<div class="control-inline">
						<#form:input path="rowNo" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('列')}：</label>
					<div class="control-inline">
						<#form:input path="columnNo" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('层')}：</label>
					<div class="control-inline">
						<#form:input path="layerNo" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('角度')}：</label>
					<div class="control-inline">
						<#form:input path="angle" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('托盘状态')}：</label>
					<div class="control-inline">
						<#form:input path="plt" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('电压')}：</label>
					<div class="control-inline">
						<#form:input path="batVoltage" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('电流')}：</label>
					<div class="control-inline">
						<#form:input path="batCurrent" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('运行状态')}：</label>
					<div class="control-inline">
						<#form:input path="runState" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('任务状态')}：</label>
					<div class="control-inline">
						<#form:input path="workState" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('设备名称')}', name:'deviceName', index:'a.device_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/isopc/isCarStatus/form?deviceId='+row.deviceId+'" class="btnList" data-title="${text('编辑穿梭车状态')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('行')}', name:'rowNo', index:'a.row_no', width:150, align:"center"},
		{header:'${text('列')}', name:'columnNo', index:'a.column_no', width:150, align:"center"},
		{header:'${text('层')}', name:'layerNo', index:'a.layer_no', width:150, align:"center"},
		{header:'${text('角度')}', name:'angle', index:'a.angle', width:150, align:"center"},
		{header:'${text('托盘状态')}', name:'plt', index:'a.plt', width:150, align:"left"},
		{header:'${text('电压')}', name:'batVoltage', index:'a.bat_voltage', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('电流')}', name:'batCurrent', index:'a.bat_current', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('运行状态')}', name:'runState', index:'a.run_state', width:150, align:"left"},
		{header:'${text('任务状态')}', name:'workState', index:'a.work_state', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('isopc:isCarStatus:edit')){ %>
				actions.push('<a href="${ctx}/isopc/isCarStatus/form?deviceId='+row.deviceId+'" class="btnList" title="${text('编辑穿梭车状态')}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>